<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> 
    <h1>project vur js</h1>
    <div id="app">
		<!-- if else statement -->
		<p v-if="msg.length % 2 === 0"> Even : {{msg.toUpperCase()}}</p>
		<p v-else> Odd : {{msg}}</p>

		<!-- for loop -->
		<ul>
			<li v-for="nbr in nbrList">{{nbr * Math.random()}}</li>
			<li v-for="nbr of nbrList">{{nbr}}</li>
		</ul>
	</div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue

      const app = createApp({
        data() {
          return {
            msg: "its work !",
			nbrList: [1, 2, 3]
          }
        }
      })
      app.mount('#app');
    </script>
  </body>
</html>
