<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body> 
    <h1>project vur js</h1>
    <div id="app">
		<!-- if else statement -->
		<p v-if="characters.length === 0"> Opss !! There are no characters </p>
		<p v-else> 
			<ul>
				<li v-for="character in characters">{{ character.name }}</li>
			</ul>
		</p>
	</div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp 
		({
			data: () => 
			({
				characters:[
					// {
					// 	name : 'mouad'
					// },
					// {
					// 	name : 'khalid'
					// },
					// {
					// 	name : 'UsF'
					// }
				]
			})  
		}).mount('#app');
    </script>
  </body>
</html>
